#contact {
	text-align: center;
}

#contact > form > label {
	display: block;
}

#contact > form > label > span {
	display: inline-block;
	width: 70px;
	text-align: left;
}

#contact > form > button {
	margin: 1rem 0;
}